<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>Jacob Chambliss's Resume</title>
    </head>
    <body>
        <div class="page">
      <nav class="navbar navbar-default navbar-fixed-top">
                <div class="nav-header">
                    <a href="Photos/346-chambliss.jpeg"><img src="Photos/346-chambliss-headshot.jpg"></a>
                </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#resume">Resume</a></li>
                    <li><a href="#contact">Contact</a></li>                        
                </ul>
            </div>              
        </nav> 
        <div class="content">
            <div class="page-header">
                <!--<img src="Photos/346-chambliss-headshot.jpg">-->
                <h1 class="center">Jacob Chambliss <small id="subtitle">Front End Engineer</small></h1>                
            </div>

            <div id="about">
                <div class="space"></div>
                <h2 class="center">About Me</h2>
                <div class="container">
                    <div class="text">
                            <div class="container">
                                <p> I have recently completed Depot/U's ten week Front End Engineering course, and have also completed a two week internship in the Magic City Coders
                                    program, an initiative with BBVA Compass, S|ngular, UAB, and Innovation Depot. Depot/U was an intense experience that focused on mastery of HTML, CSS,
                                    and JavaScript. In addition to demonstrating core competencies in these languages, we also learned JQuery, Bootstrap, LESS, and the Angular.js and Platypus.ts frameworks.
                                    My projects (detailed below) were a recreation of the Coversharks website, and a group project we titled Bham Brews that showcased Birmingham's local breweries.
                                    During the Magic City Coders pilot program, I worked with Google's Polymer framework to innovate and code a basic fintech application from scratch.
                                    As a newly minted developer, I am excited about crafting new digital stories for others to experience by using the latest technologies in web design and 
                                    client interaction.
                                </p>
                            </div>
                    </div>
                </div>
            </div>
            <div id="skills">
                <div class="space"></div>
                <h2 class="center">Technical Skills</h2>
                <div class="container">
                    <div class="text">
                        <div class="row">
                            <div class=" col-sm-4 col-sm-offset-3">
                                <ul>
                                    <li>HTML5</li>
                                    <li>CSS3/Bootstrap</li>
                                    <li>JavaScript/JQuery</li>
                                    <li>Google Analytics</li>
                                </ul>
                            </div>
                            <div class=" col-sm-3">
                                <ul>
                                    <li>Angular.js</li>
                                    <li>Platypi TS/UI/TLI</li>
                                    <li>Writing/Copyediting</li>
                                    <li>Sales</li>
                                    <li>Public Speaking</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="projects">
                <div class="space"></div>
                <h2 class="Clear center">Projects (Click the Project title to see more)</h2>
                    <div class="container"
                        <div class="text">
                            <div class="row">
                                <div class='col-md-6 col-xs-12 col-s-12 col-lg-7 col-md-offset-2'>
                                    <h3><a href="https://github.com/jjchambl/CoverSharks-Recreation">CoverSharks Recreation</a></h3>
                                        <p>Our assignment for this project was to recreate the CoverSharks website, recently developed and deployed by Platypi (http://www.coversharks.com).
                                            This project saw a team of four working together to design and implement basic functionality for the web design we were
                                            given using the Platypus framework (https://developers.platypi.io/), which natively supports TypeScript and LESS.
                                        </p>
                                    <h3><a href="https://github.com/jjchambl/Bham-Brews">Bham Brews</a></h3>
                                        <p>
                                            The Depot/U Capstone Project was presented at Innovation Depot on April 29,2016. Using the Angular.js framework,
                                            our group will highlight and interact with APIs from Birmingham's four craft breweries, offering information,
                                            social interactivity, and links to professional associations pertinent to the craft beer industry. Pending its
                                            acceptance as a successful capstone project, we will pursue deployment of this website as a Cordova app.
                                        </p>
                                    <h3><a href="http://magiccitycoders.sngular.team/loanranger/">The Loan Ranger</a></h3>
                                        <p>The Loan Ranger was developed during the Magic City Coders program in collaboration with BBVA Compass, S|ngular, UAB, and Innovation Depot.
                                            It will be presented at Birmingham's Innovation Week in August (date and time TBD). Using Google's Polymer framework and
                                            working under a SCRUM methodology, I developed the Loan Ranger to serve as a debt reduction tool for bank customers wanting
                                            to take more proactive control of their loans. The application interacts with a data model I built using Firebase, and returns
                                            a hypothetical list of three loans listed by amount (located in the Setup tab in the navbar). The user can click/tap to select the loan to target,
                                            and will then specify the amount that they want applied for each swipe of a (again hypothetical) debit card; the default value rounds up
                                            every purchase to the nearest dollar amount and applies the difference towards the targeted loan; the user can choose to add dollar increments
                                            per transaction up to a maximum of $20 per swipe. After completing preferences, the Account Detail view shows the user's overall progress to paying off their
                                            loan based off a month of card transactions.
                                        </p>
                                </div>
                        </div>
                    </div>
                </div>
            <div id="resume">
                <div class="space"></div>
                <h2 class="center">Work Experience</h2>
                <div class="container">
                    <div class="text">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <h3 id="first">Intern</h3>
                                    <p class="indent">BBVA Compass/S|ngular's Magic City Coders Program</p>
                                    <p class="indent italic">May 2-13</p>
                                <h3 id="first">Founder/Writer/Editor</h3>
                                    <p class="indent link"><a href = 'http://www.frugalfootballer.com'>The Frugal Footballer</a></p>
                                    <p class="indent italic"><small>January 1, 2016-Present</small></p> 
                                <h3>Director of Operations/Coaching</h3>
                                    <p class="indent link"><a href = 'http://www.soccershots.org/centralalabama'>Soccer Shots of Central Alabama</a></p>
                                    <p class="indent italic"><small>January 2012-December 2015</small></p>
                                <h3>Personal Trainer</h3>
                                    <p class="indent">Anytime Fitness Vestavia</p>
                                    <p class="indent italic"><small>August 2013-August 2014</small></p>
                                <h3>Staff Writer</h3>
                                    <p class = 'indent link'><a href = 'http://www.yanks-abroad.com'>Yanks Abroad</a></p>
                                    <p class = 'indent italic'><small>July 2013-August2014</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="center">Education</h2> 
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="text">
                                <h3>Depot/U</h3>
                                <p>May 2016</p>
                                <h3>University of Alabama at Birmingham</h3>
                                <p>Coursework in Counselor Education, 2013-4</p>
                                <h3>Candler School of Theology, Emory University</h3>
                                <p>Master of Theology, 2011 <small>Focus: New Testament Studies</small></p>
                                <p>Master of Theological Studies, 2010</p>
                                <h3>Samford University</h3>
                                <p>Bachelor of Arts in Religion and Psychology, 2008</p>
                            </div>
                        </div>
                    </div>
                </div>
            <h2 class="center contact-form"><a name="contact">Contact Me</a></h2>
                <form class="form" action="MAILTO:jjchambliss@gmail.com">
                    <fieldset class="form-group">
                        <input type="text" name="name" id="name" required placeholder=" Name">
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="text" name="email" required placeholder=" Email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea type="text" name="message" rows="5" required placeholder=" Type your message here..."></textarea>
                    </fieldset>
                    <button type="submit" class="btn btn-primary" id="button1">Send</button>
                </form>
            <div class="space"></div>
        <!--content div-->
        </div>
        <div class="footer center">
            <a href="https://www.linkedin.com/in/jacob-chambliss-6220a0112"><img src="assets/linkedin/linkedin.png" alt="LinkedIn"></a>
            <a href="https://github.com/jjchambl"><img src="assets/github/github.png" alt="Github"></a>
            <p>&copy;Jacob Chambliss, 2016</p>
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>