extends templates/layout
block content
  .page-header
    h1.center Jacob Chambliss &nbsp;
    .space
    h3.center Software | DevOps | IT
    .space
    .center
      a(href='https://www.linkedin.com/in/jacob-chambliss-6220a0112' target='_blank' style='padding-right: 12px;')
        img(src=assetPath + 'https://cdn.jak.ninja/linkedin.png' height='30' alt='LinkedIn')
      a(href='https://github.com/jjchambl' target='_blank')
        img(src=assetPath + 'https://cdn.jak.ninja/github.png' height='30' alt='Github')
  #about
    .space
    h2.center About
    .container
      .text
        .container
          p.
            Theologian-turned-mental health enthusiast-turned-soccer coach-turned-coder. Eclectic; said to enjoy conversation over latest coding modules, soccer tactical systems and performance data, and/or Ancient Greek transport modalities.
          p.
            My projects encompass JavaScript and C#/.NET. I have extensive experience with React, Angular.js, Ionic, Microsoft's Power BI Custom Visuals and Custom Office Plugins. I also enjoy good CSS in all its permutations (SASS/LESS/etc). On the backend side I have worked/work extensively using AWS Lambda/API Gateway, containerization tools, and SQL/NoSQL databases.
          p.
            Hobbies/additional proficiencies include Git, zsh, Node.js, DevOps, CI/CD, and microservices. Built my own computer recently, loved it, would do again.
  #skills
    .space
    h2.center Skills
      .container
        .text
          .row
            .col-sm-3.col-sm-offset-2
              ul
                li #[strong Front End Skills]
                li JavaScript
                li C#/.NET
                li CSS3/LESS/SASS
                li React
                li Redux
                li Angular
                li Pug.js
            .col-sm-3
              ul
                li #[strong Backend/Systems]
                li NodeJs
                li MySQL
                li NoSQL(Dynamo/Couchbase)
                li Bash
                li Linux (Ubuntu)
                li Docker
                li Git
            .col-sm-3
              ul
                li #[strong AWS Services]
                li Lambda
                li API Gateway
                li VPC, ALB/ELB
                li IAM
                li EC2/ECS
                li CodeBuild
                li CodeDeploy
  #work
    .space
    h2.Clear.center Recent Work
      .container
        .text
          .row
            .col-md-6.col-md-offset-3.col-xs-12.col-lg-8.col-lg-offset-2
              h3
                a(href='https://learn.edfarm.org' target='_blank') Ed Farm Learn
              p.
                Ed Farm Learn was conceived two years ago by the innovators at Ed Farm  as a social platform to allow teachers to connect
                with each other to share examples of high quality lesson plans and student work. The project is
                currently undergoing beta testing, but utilizes a React frontend paired with an API based in Lambda.
                We used a combination of REST API endpoints as well as API Gateway's relatively new websockets integration
                to provide a messaging platform to users.
            .col-md-6.col-md-offset-3.col-xs-12.col-lg-8.col-lg-offset-2
              h3
                a(href='https://learnsafe.com/' target='_blank') Learnsafe Platform
              p.
                The Learnsafe Platform seeks to identify risky behavior in students through a suite of products.
                JWEB launched a rewrite of these products in August of 2019, encompassing a desktop agent that can
                run on Mac, Windows, and ChromeOS; an API based in Lambda that integrates with a MySQL and OpenSearch data layer;
                and a teacher's console built in React to allow teachers to review and take action on captured behavior.
            .col-md-6.col-md-offset-3.col-xs-12.col-lg-8.col-lg-offset-2
              h3
                a(href='https://play.google.com/store/apps/details?id=com.commandalkon.builditmobile&hl=en_US&gl=US' target='_blank') BuildIt Mobile
              p.
                Worked with an offshore development team to build development pipelines written in Fastlane and Jenkins scripts to automate
                testing and deployment of Command Alkon's BuilIt Mobile application.
    .space
    h2.Clear.center Open Source Contributions
      .container
        .text
          .row
            .col-md-6.col-md-offset-3.col-xs-12.col-lg-8.col-lg-offset-2
              h3
                a(href='https://www.npmjs.com/package/@jweb-development/response-parser' target='_blank') Response Parser
              p.
                A JavaScript library meant to assist in parsing response codes received from RESTful APIs. Has particular
                use when integrated with state management libraries such as redux.
            .col-md-6.col-md-offset-3.col-xs-12.col-lg-8.col-lg-offset-2
              h3
                a(href='https://www.npmjs.com/package/@jweb-development/cisco-umbrella' target='_blank') Cisco Umbrella
              p.
                A JavaScript wrapper for integration with Cisco's management API for the Cisco Umbrella product.
                Allows users to instantiate a client to make calls for managing block requests and destinations.
            .col-md-6.col-md-offset-3.col-xs-12.col-lg-8.col-lg-offset-2
              h3
                a(href='https://beyond20.here-for-more.info/' target='_blank') Beyond20
              p.
                A suite of products revolving primarily around a Chrome/Firefox extension, Beyond20 allows Dungeons and Dragons
                parties to use the Virtual Table Top systems of apps like #[a(href='https://roll20.net' target='_blank') Roll 20] while using #[a(href='https://dndbeyond.com' target='_blank') DndBeyond's] superior character
                management products.
  #experience
    .space
    h2.center Experience
    .container
      .text
        .row
          .col-md-6.col-md-offset-3
            h3#first Lead Software Developer
              p.indent JWEB Development and IT Services, LLC
              p.indent.italic August 2019 - Present
          .col-md-6.col-md-offset-3
            h3#first DevOps Engineer
              p.indent Command Alkon
              p.indent.italic October 2018 - August 2019
          .col-md-6.col-md-offset-3
            h3#first Software Engineer
              p.indent KEYSYS
              p.indent.italic October 2016 - October 2018
          .col-md-6.col-md-offset-3
            h3#first Software Developer
              p.indent Wolf-Tek
              p.indent.italic June 2016 - December 2016
          .col-md-6.col-md-offset-3
            h3#first Intern
              p.indent BBVA Compass/S|ngular's Magic City Coders Program
              p.indent.italic May 2-13, 2016
    h2.center Education
      .container
        .row
          .col-md-6.col-md-offset-3
            .text
              h3 Depot/U
              p May 2016
              h3 University of Alabama at Birmingham
              p Coursework in Counselor Education, 2013-4
              h3 Candler School of Theology, Emory University
              p.
                Master of Theology, 2011
                small Focus: New Testament Studies
              p Master of Theological Studies, 2010
              h3 Samford University
              p Bachelor of Arts in Religion and Psychology, 2008