extends templates/layout
block content
  .page-header
    h1.center Jacob Chambliss &nbsp;
    .space
    h3.center Software | DevOps | IT
    .center
      a(href="https://www.linkedin.com/in/jacob-chambliss-6220a0112")
        img(src="http://localhost:8080/assets/linkedin.png" alt="LinkedIn")
      a(href="https://github.com/jjchambl")
        img(src="http://localhost:8080/assets/github.png" alt="Github")
  #about
    .space
    h2.center About
    .container
      .text
        .container
          p.
            I have recently completed Depot/U's ten week Front End Engineering course, and have also completed a two week internship in the Magic City Coders
            program, an initiative with BBVA Compass, S|ngular, UAB, and Innovation Depot. Depot/U was an intense experience that focused on mastery of HTML, CSS,
            and JavaScript. In addition to demonstrating core competencies in these languages, we also learned JQuery, Bootstrap, LESS, and the Angular.js and Platypus.ts frameworks.
            My projects (detailed below) were a recreation of the Coversharks website, and a group project we titled Bham Brews that showcased Birmingham's local breweries.
            During the Magic City Coders pilot program, I worked with Google's Polymer framework to innovate and code a basic fintech application from scratch.
            As a newly minted developer, I am excited about crafting new digital stories for others to experience by using the latest technologies in web design and 
            client interaction.
  #skills
    .space
    h2.center Skills
      .container
        .text
          .row
            .col-sm-4.col-sm-offset-3
              ul
                li HTML5
                li CSS3
                li JavaScript/TypeScript
                li Something
                li Something
            .col-sm-3
              ul
                li Angular/React/Pug
                li yrdy
                li test
                li test
                li test
  #projects
    .space
    h2.Clear.center Work
      .container
        .text
          .row
            .col-md-6.col-md-offset-2.col-xs-12.col-lg-7
              h3
                a(href='https://github.com/jjchambl/CoverSharks-Recreation') CoverSharks Recreation
              p.
                Our assignment for this project was to recreate the CoverSharks website, recently developed and deployed by Platypi (http://www.coversharks.com).
                This project saw a team of four working together to design and implement basic functionality for the web design we were
                given using the Platypus framework (https://developers.platypi.io/), which natively supports TypeScript and LESS.
  #experience
    .space
    h2.center Experience
    .container
      .text
        .row
          .col-md-6.col-md-offset-2
            h3#first Intern
              p.indent BBVA Compass/S|ngular's Magic City Coders Program
              p.indent.italic May 2-13, 2016
    h2.center Education
      .container
        .row
          .col-md-6.col-md-offset-2
            .text
              h3 Depot/U
              p May 2016
              h3 University of Alabama at Birmingham
              p Coursework in Counselor Education, 2013-4
              h3 Candler School of Theology, Emory University
              p.
                Master of Theology, 2011
                small Focus: New Testament Studies
              p Master of Theological Studies, 2010
              h3 Samford University
              p Bachelor of Arts in Religion and Psychology, 2008